
		*{
			margin: 0;
			padding: 0;
			justify-content: center;
		}

		.main{
			width: 100%;
			height: 90vh;
			background-image: linear-gradient(rgba(0,0,0,0.6)50%, rgba(0,0,0,0.6)70%), url(bg.jpg);
			background-size: cover;
			background-color: black;
			color: white;

		}

		
		.navbar{
			display: flex;
			align-items: center;
			color: white;
			background-color: transparent;
			height: 70px;
			width: 100%;
		}

		.logo{
			display: flex;
			align-items: center;
			margin-left: 1em;
			margin-right: 8em;

		}

		.icon{
			font-size: 50px;
		}
		

		.links ul{
			display: flex;
			margin-right: 100px;
		}

		.links ul li{
			list-style: none;
			margin-left: 40px;
		}

		.links ul li a{
			text-decoration: none;
			font-size: 20px;
			font-weight: bold;
			color: white;
			padding: 8px 20px 8px 20px;
			border-radius: 10px;
		}

		.call{
			margin-left: 50px;
		}

		.hire{
			display: flex;
			background: transparent;
			border-radius: 25px;
			border: 1px solid white;
			height: 48px;
			width: 190px;
			font-size: 18px;
			font-family: Helvetica, sans-serif;
			font-weight: bold;
			color: white;
			padding: 13px;
		}

		.hire:hover, .links ul li a:hover{
			background-color: white;
			color: black;
			cursor: pointer;
		}

		.herotext{
			margin: 40px 0 0 200px;
		}

		.maincall{
			margin: 30px 0 0 200px;
		}

		.big i{
			font-size: 40px;
			margin-right: -7px;
			
		}

		.big{
			display: inline;
			font-size: 70px;
			font-family: 'Staatliches', cursive;
		}

		
		.description{
			font-size: 20px;
		}

	.heroicon{
		height: 500px;
		width: 600px;
		margin: -20.5em 0 0 55em;
	}

	.heroicon a{
		font-size: larger;
		color: rgb(208, 231, 245);
		font-size: 100px;
		margin: 10px 50px 0 50px;
	}

	.heroicon p{
		margin-top: -10px;
		font-size: 50px;
		font-family: 'Yanone Kaffeesatz', sans-serif;
	}

	.progress{
		margin-left: 80px;
	}

	.servicesection{
		display: flex;
		height: 100vh;
		width: 100%;
	}

	.overlap{
		position: absolute;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		height: 150px;
		width: 1000px;
		border-radius: 200px;
		background-color: white;
		border: none;
		margin-top: 30px;
		margin-left: 330px;
		box-shadow: 0px 50px 100px -10px rgb(175, 175, 175);
		color: black;
	}

	 .points{
		
		width: auto;
		height: auto;
		

	}

	.points p{
		font-family: 'Redressed', cursive;
		font-size: 20px;
	}

	.points .vdi, .tmw{
		padding: 15px 80px 0 0;
		border-right: 1.5px solid gray;
		height: 50px;
	}
	
	.points p > span:hover{
		cursor: pointer;
	}

	.action{
		display: flex;
		background: rgb(253, 224, 179);
		border-radius: 30px;
		border: none;
		height: 58px;
		width: 200px;
	}

	.action:hover{
		box-shadow: 0px 10px 50px -10px grey;
		cursor: pointer;
	}

	.action span{
		background-color: transparent;
		color: rgb(54, 53, 53);
		border: none;
		font-size: 18px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
		margin: 20px;


	}

	.learn{
		height: 48px;
		width: 150px;
		border: 1px solid white;
		border-radius: 25px;
		background-color: transparent;
		color: white;

	}

	.learn span{
		font-size: 16px;
		font-family: Arial, Helvetica, sans-serif;
		font-weight: bold;
	
	}

	
	.learn:hover{
		color: black;
		background-color: white;
		cursor: pointer;
	}	

	.services{
		display: flex;
		background-color: transparent;
		width: 80%;
		height: 70vh;
		margin-top: 5em;

	}
	.body{
		display: flex;
	}

	.details{
		width: 70%;
		margin-bottom: 20px;
	}

	.avatar{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		background-color: bisque;
		margin-right: 25px;
		margin-top: -30px;
	}

	.avatar img{
		width: 100px;
		height: 100px;
	}

	.title{
		margin-top: -13px;
	}

	.developer, .design, .uiux{
		background-color: white;
		padding: 30px;
		padding-bottom: 10px;
		border-radius: 20px;
		color: black;
		height: 100px;
		width: 370px;
		margin-top: 20px;
		border: 10px solid plum;
	}

	.developer:hover, .design:hover, .uiux:hover:hover{
		box-shadow: 0px 30px 100px -14px grey;
	}

	.developer:after{
		content: '';
		height: 120px;
		width: 390px;
		background-color: black;

	}

	.holder{
		display: flex;
		flex-wrap: wrap;
		width: 55%;
		height: 580px;
		background-color: rgb(210, 241, 240);
		margin-right: 10em;
		border-radius: 20px;
		padding: 30px;
	}

	.holder h2{
		text-align: center;
		font-size: 25px;
		font-weight: bold;
		font-family: Arial, Helvetica, sans-serif;
	}

	.servicedescription{
		margin-top: 100px;
		padding: 30px;
		width: 50%;
		color: black;
	}

	.servicedescription h2{
		line-height: 45px;
		font-size: 50px;
		font-family: 'Lobster', cursive;
	}

	.servicedescription span{
		color: rgb(253, 195, 144);
	}

	.servicedescription p{
		font-size: 20px;
	}

	.servicedescription button{
		margin-top: 30px;
	}

	.servicedescription button span{
		color: black;
	}

	.socialicons{
		display: flex;
		justify-content: space-between;
		margin-top: 30px;
	}

	.socialicons  i{
		display: flex;
		flex-direction: column;
		font-size: 40px;
		color: wheat;
	}

	.socialicons  i span{
		font-size: 18px;
	}

	.socialicons i:hover{
		animation: increase .2s  forwards;
	}

	@keyframes increase {
		from{
			font-size: 40px;
		}

		to{
			font-size: 55px;
		}
	}

	.showcase{
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 200vh;
		width: 100%;
		margin-top: 1em;
	}

	.performance{
		display: flex;
		align-items: center;
		height: 500px;
		background: linear-gradient(to top, #551a77, #31274a);
		padding: 3em;
		font-family: 'Arial Narrow Bold', sans-serif;

	}

	.message{
		/* margin-left: -20em; */
		margin-right: 5em;
	}
	
	.message h2{
		font-size: 40px;
		margin-bottom: .5em;
	}

	.message p{
		font-size: 18px;
		letter-spacing: 2px;
		margin-bottom: 100px;
	}

	.message p span{
		color: darkgray;
		font-size: 15px;
	}

	.showicons{
		display: flex;
	}

	.showicons section{
		display: flex;
		flex-direction: column;
		margin-right: 30px;
		text-align: center;
	}
	
	.showicons section i{
		font-size: 50px;
		margin-bottom: 15px;
	}

	.testimony{
		display: flex;
		flex-direction: column;
		width: 800px;
		height: 500px;
		text-align: center;
		background-color: blanchedalmond;
		border-radius: 10px;
		color: rgb(12, 1, 10);
	}
	.testimony h2{
		margin-top: 2em;
		font-family: 'Lobster', cursive;
	}

	.testimony p{
		font-family: 'Redressed', cursive;
		margin: .5em 1em 2em 1em;
		font-size: 25px;

	}

	.inner{
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 400px;
		width: 90%;
		background-color: white;
		margin-left: 2em;
		margin-top: -2.5em;
		border-radius: 10px;
	}

	.testimony a{
		text-decoration: none;
		margin-top: 30px;
	}

	.testimony a span{
		color: black;
		padding: 10px 15px 10px 15px;
		font-weight: bold;
		border-radius: 10px;
		font-family: 'Lobster', cursive;
		letter-spacing: 1px;
	}

	.testimony a span:hover{
		background-color: aliceblue;
	}

	.skills{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: linear-gradient(to top, purple, rgb(253, 224, 179));
		width: 90%;
		height: 400px;
		border-radius: 20px;
		text-align: center;
		color: black;
		box-shadow: 0px 30px 100px -14px grey;
		margin: 4em 5.5em;
	}

	.skills h2{
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		font-size: 40px;
	}
	.skills p{
		font-size: 25px;
		font-family: 'Redressed', cursive;

	}
	.skills p, .skills h2{
		color: #31274a;
	}

	.expertise{
		display: flex;
		width: 80%;
		height: auto;
		margin-top: 50px;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
	}

	.skillicon{
		display: flex;
		align-items: center;
		margin-right: 40px;
		margin-bottom: 30px;
		border-radius: 50%;
	}

	.skillicon img{
		height: 50px;
		width: 50px;
		border-radius: 50%;
		margin-right: 20px;
		background-color: white;
		padding: 10px;
	}
	.skillicon > span{
		font-size: 30px;
		font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	}

	.latesworks{
		display: flex;
		flex-wrap: wrap;
		height: 100vh;
		padding-left: 30px;
		background-image: linear-gradient(to top,  rgb(253, 224, 179), white );
		padding-bottom: 7em;
		padding-top: 5em;
	}
	.workheader{
		width: 100%;
		height: 50px;
		color: black;
		margin-bottom: 120px;
		text-align: center;
		margin-top: -3em;
	}

	.workheader h2{
		font-size: 50px;
		font-size: bold;
		font-family: 'Lobster', cursive, Matura MT Script Capitals;
	}

	.workheader p{
		font-size: 25px;
		font-family: Arial, Helvetica, sans-serif;
	}

	.workheader h2 span{
		color: rgb(253, 195, 144);
	}

	.works{
		background-color: rgb(210, 241, 240);
		height: 300px;
		width: 300px;
		box-shadow: 0px 20px 20px -17px grey;
		margin-right: 50px;
		margin-bottom: 20px;
		border-radius: 20px;
		
	}

	.works img{
	
		height: 300px;
		width: 300px;
		border-radius: 20px;
	}

	.works:hover{
		animation: resize 1s forwards ease-in-out;
	}

	.works img:hover{
	
		animation: resize 1s forwards ease-in-out;
		position: absolute;
	}

	@keyframes resize {
		from{
			width: 300px;
			height: 300px;
			margin-bottom: 20px;
		}

		to{
			width: 380px;
			height: 380px;
			margin-bottom: 40px;
		}
	}

	.workhistory{
		display: flex;
		width: 100%;
		height: 200px;
		background-color: rgb(253, 224, 179);
		justify-content: space-around;

	}

	.workhistory p{
		color: #31274a;
		font-size: 30px;
		font-family: 'Lobster', cursive;
	}

	.workhistory p span{
		font-size: 80px;
	}

	.pricing{
		width: 100%;
		display: flex;
		flex-direction: column;
		height: 500px;
		background-color:  rgb(253, 224, 179);
		margin-bottom: -20em;
		font-family: 'Lobster', cursive;
		padding-top: 2em;
	}

	.pricing section{
		display: flex;
	}

	.pricing a{
		padding: 20px;
	}
	
	.basic p i, .premium p i{
		color: green;
	}
	.basic{
		display: flex;
		flex-direction: column;
		width: 30%;
		height: 450px;
		background-color:rgb(208, 231, 245);
		margin-right: 100px;
		border-radius: 20px;
		color: #31274a;
		padding: 2em;
	}

	
	.premium{
		display: flex;
		flex-direction: column;
		width: 30%;
		height: 450px;
		background-color: rgb(208, 231, 245);
		border-radius: 20px;
		color: #31274a;
		padding: 2em;
	}

	.premium h2, .basic h2{
		text-align: center;
		font-size: 40px;

	}

	.go{
		margin-top: 3em;
		padding: 20px;
		color: blanchedalmond;
		width: 100%;
		border-radius: 20px;
		background-color: #31274a;
		font-size: 20px;
	}

	.go:hover{
		cursor: pointer;
		background-color: #551a77;
	}

	.customers{
		display: flex;
		width: 100%;
		height: 100vh;
		background-image: linear-gradient(to top, rgb(59, 7, 80), rgb(253, 224, 179) );
	}

	.booking{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		width: 40%;
		height: 87%;
		background-color: white;
		border-radius: 20px;
		box-shadow: 0px 30px 100px -14px grey;
		margin-top: 25em;
		padding: 3em;

	}
	.booking h2{
		font-size: 40px;
		font-family: Arial, Helvetica, sans-serif;
		color: #31274a;
		text-align: center;
		margin-bottom: 20px;
	}
form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form input, form button, form select{
	margin-bottom: 30px;
}	

form input{
	width: 70%;
	border-bottom: 2px solid #f1d1b7;
    border-top: none;
    border-right: none;
    border-left: none;
	font-size: 15px;
    letter-spacing: 1px;
	padding: 10px;
}

label {
	padding: 12px 12px 12px 0;
	display: inline-block;
	color: darkgrey;
	letter-spacing: 1px;

  }

	  .btnn{
		  width: 75%;
		  padding: 20px;
		  border-radius: 20px;
		  border: none;
		  background-color: #31274a;
	  }

	  .btnn a{
		  text-decoration: none;
		  color: wheat;
		  font-size: 15px;
		  font-weight: bold;
	  }
	  
	 .btnn:hover{
		cursor: pointer;
		background-color: #551a77;
	  }
	  
	  form select{
		  width: 73%;
		  height: 30px;
		  border: none;
		  background-color:  rgb(253, 224, 179);
		  border-radius: 5px;
	  }

	  form select:focus{
		  outline: none;
	  }

	  form i{
		  margin-right: 30px;
		  margin-top: -15px;
	  }

	  form textarea{
		margin-bottom: 20px;
		border-radius: 10px;
		border-color: darkgray;
		padding: 20px;
		
	}

	form textarea:focus{
		  outline: none;
	}

	.freetips{
		  color: #31274a;
		  width: 300px;
		  margin: 2em;
	}

	.freetips h2{
		  font-family: 'Lobster', cursive;
		  font-size: 30px;
		  letter-spacing: 1.5px;
		  margin-bottom: .5em;
	}

	.freetips p{
		  color: rgb(102, 100, 100);
		  font-family: monospace;
		  font-size: 15px;
		  margin-bottom: .5em;
		  margin-left: 5px;
	  }
	  
	.freetips button{
		padding: 10px;
		border-radius: 10px;
	}

	.freetips button:hover{
		color: white;
		background-color: #31274a;
	}
	
	.freetips button i{
		font-size: 18px;
		margin-right: 5px;
	}

	.freetips button span{
		font-size: 12px;
		font-weight: bold;
		padding: auto;
		padding-right: 5px;
	}

	.classes{
		color: #31274a;
		width: 400px;
		margin-left: -1em;
	}

	
	.classes h2{
		font-family: 'Lobster', cursive;
		font-size: 30px;
		letter-spacing: 1.5px;
		margin-bottom: .5em;
  }

  .classes p{
		color: rgb(102, 100, 100);
		font-family: monospace;
		font-size: 15px;
		margin-bottom: .5em;
		margin-left: 5px;
		width: 300px;
	}
	
  .classes button{
	  padding: 10px;
	  border-radius: 10px;
	  margin-left: 15em;
  }

  .classes button:hover{
	  color: white;
	  background-color: #31274a;
  }
  
  .classes button i{
	  font-size: 18px;
	  margin-right: 5px;
  }

  .classes button span{
	  font-size: 12px;
	  font-weight: bold;
	  padding: auto;
	  padding-right: 5px;
  }

.horizontal{
	display: flex;
	justify-content: space-between;
}

.footerbase{
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 100%;
	color: #31274a;
}

.me{
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
}

.me p{
	color: #31274a;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	font-family: 'Lobster', cursive;
	letter-spacing: 1.5px;
}

.me p span{
	font-size: 30px;
	color: rgb(6, 102, 99);
}

.me img{
	width: 250px;
	height: 250px;
	border-radius: 50%;
	border: 3px solid #31274a;
}

.whatsapp{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-left: 7em;
	font-size: 20px;
	color: #31274a;
	font-family: 'Lobster', cursive;
}

.whatsapp p{
	margin-bottom: 20px;
}

.whatsapp a{
	text-decoration: none;
	color: #31274a;
	margin-left: 10px;
}

.whatsapp span, .callme span{
	background-color: rgb(46, 150, 46);
	padding: 15px;
	color:white;
	border-radius: 10px;
}

.personal{
	margin-top: 5em;
}

.personal p > span{
	margin-bottom: 1em;
	color: chocolate;
	background: none;
}

.copy{
	margin-left: 15em;
	margin-top: 10em;
	font-family: monospace;
	letter-spacing: 2px;
	font-size: 18px;
	font-weight: bold;
}

footer{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 30px;
	background-color: rgb(253, 224, 179);
	height: 800px;
	width: 100%;
}


@media screen and (max-width: 1000px) {
	body{
		text-align: center;
	}

	.heroicon{
		display: none;
	}

	.links{
		display: none;
	}

	.call{
		display: none;
	}

	.logo{
		margin: 0;
		justify-content: center;
	}

	.herotext, .maincall{
		margin: 1em;
	}
	.big img{
		display: none;
	}
	
	.big{
		font-size: 40px;
	}

	.overlap{
		flex-direction: column;
		width: 350px;
		height: 400px;
		margin: 5em;
		border-radius: 20px;
	}

	.points .vdi, .tmw{
		border-bottom: 1px solid black;
		border-right: none;
		justify-items: center;
		padding: 10px;
	}

	.services{
		display: flex;
		flex-direction: column;
		margin-top: 60em;
		margin-bottom: 20em;
	}

	.holder{
		margin-left: 1em;
		width: 350px;
		height: 580px;
		padding: 20px;
	}

	.holder h2{
		margin-left: 50px;
	}

	.servicedescription{
		margin-top: 10px;
		width: 90%;
		text-align: center;
	}

	.performance{
		flex-direction: column;
		height: 2000px;

	}

	.testimony{
		width: 430px;
		height: 600px;
	}

	.testimony h2{
		margin-top: 4em;
		font-family: 'Lobster', cursive;
	}

	.testimony p{
		font-family: 'Redressed', cursive;
		margin: .05em 1em 2em 1em;
		font-size: 25px;

	}

	.inner{
		height: 520px;
		margin-left: 1.5em;
	}

	.inner a{
		margin-top: -15px;
	}

	.showcase{
		margin-top: 115em;
	}

	.skills{
		width: 70%;
		height: 1200px;
		padding: 20px;
		margin-left: 4em;
	}

	.works{
		margin-bottom: 20px;
		margin-left: 3.5em;
	}


	.latesworks{
		margin-top: 60em;
		height: 2700px;
	}

	.booking{
		margin-top: 30em;
		width: 350px;
	}

	
	
}
